*{
  margin: 0;
  padding: 0;
  font-family: "mograch";
  color: black;

}
body{ background-color: #000;}

html{
  background: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

header{
  min-height: 100vh;
  width: 100%;
  background-image: url(resource/img/a13.png);
  background-position: center;
  background-size: cover;
}

.header-text{
  padding-top: 0;
  margin-bottom: 0;
  background: none;
}

.header-main{
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin-bottom: 10px;
  color: #FFF;
}

.header-main span{
  font-family: "mograch";
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 600;
  color: white;

  animation: shine 4.5s linear infinite;
}


.socials i {
  margin-right: 15px;
  font-size: 30px;
  color: white;
  transition: 0.5s;
}

.socials i:hover,
.socials i:active {
  margin-right: 20px;
  font-size: 25px;
  color: #fff;
  transition: 0.5s;
}

.glass-links {
  background: rgba(255, 255, 255, 0.086);
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 30px;
  padding: 0.2rem 1rem; 
  display: inline-flex; 
  gap: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.glass-links .nav-link {
  color: white;
  font-size: 15px;
}


@media(max-width: 820px) {

  .header-main{
    text-align: center;
  }
  .header-main span{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
  }
  .socials  {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}



.sectionskill{
  min-height: 20vh;
  background-position: center;
  background-size: cover;
}

.card {
  flex: 0 0 12rem; 
  overflow: hidden;
}

.card-title {
  text-transform: uppercase;

}

.card-body{
  background-color: #000;
}

.card .card-body .card-title span {
  color: white;
}


.card-img-top {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.carousel {
  margin: 100px auto;
  width: 80%;
  display: flex;
  overflow-x: auto;
  position: relative;

  -webkit-mask-image: linear-gradient(to right, 
      transparent, 
      black 15%, 
      black 85%, 
      transparent
  );
  mask-image: linear-gradient(to right, 
      transparent, 
      black 15%, 
      black 85%, 
      transparent
  );
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  gap: 1.2em;
  align-items: center;
  animation: spin 20s linear infinite;
  padding-right: 1em;
}


@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%); 
  }
};